img {
  transition: 5000ms;
}

/* button {
  width: 200px;
  height: 200px;
  border: 20px solid black;
  border-radius: 0%;
  background-color: transparent;
  cursor: pointer;
} */

#box{
  height: 200px;
  width: 200px;
  border: 10px solid black;
  transition: 1000ms;
  margin: 100px;
}

/* .rotate {
  transform: rotate(35deg);
} */
