.container{
  margin: 0 auto;
  align-self: center;
  padding: 10px;
  width: 1000px;
  border: 2px solid green;
  box-shadow: 2px 0px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  transition: 5000ms;
}

/* button {
  width: 200px;
  height: 200px;
  border: 20px solid black;
  border-radius: 0%;
  background-color: transparent;
  cursor: pointer;
} */

#box{
  height: 200px;
  width: 200px;
  border: 10px solid black;
  transition: 1000ms;
  margin-bottom: 200px;
  /* margin: 100px; */
}

/* .rotate {
  transform: rotate(35deg);
} */


@media only screen and (max-width:480px) {
  .container {
      margin: auto auto;
      /* padding: 10px; */
      width: 360px;
      border: 2px solid green;
      box-shadow: 2px 0px 10px black;
      /* display: flex;
      justify-content: center; */
    }

  #box {
    height: 200px;
    width: 200px;
    border: 4px solid black;
    transition: 1000ms;
    margin-bottom: 40px;
  }

  #text{
    font-size: 20px;
  }

}

@media only screen and (min-width:481px) {
  .container {
      margin: 0 auto;

      padding: 10px;
      width: 400px;
      border: 4px solid green;
      box-shadow: 2px 0px 10px black;
      display: flex;
      justify-content: center;
    }
  
    #box {
      margin-top: 20px;
      height: 200px;
      width: 200px;
      border: 2px solid black;
      transition: 1000ms;
      /* margin: 8px; */
    }

    #text{
      font-size: 20px;
      margin-right: 10px;
    }
}

@media only screen and (min-width:1024px) {
  .container {
      margin: 0 auto;
      padding: 10px;
      width: 1000px;
      border: 2px solid green;
      box-shadow: 2px 0px 10px black;
      display: flex;
      justify-content: center;
    }
  
  #box {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    transition: 1000ms;
    /* margin: 100px; */
  }

  #text{
    font-size: 40px;
    margin-right: 10px;
  }

}